.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.main {
    width: 400px;
    height: 250px;
}
.left-of-main {
    width: 250px;
    height: 250px;
    float: left;
}
.left-of-lm {
    width: 100px;
    height: 150px;
    background-color: #dbd403;
    float: left;
}
.right-of-lm {
    width: 150px;
    height: 150px;
    float: right;
}
.top-of-rlm {
    width: 150px;
    height: 50px;
    background-color: #8c2727;
}
.under-of-rlm {
    width: 150px;
    height: 100px;
    background-color: #ff9e6b;
}
.under-of-lm {
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}
.right-of-main {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: right;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}