*:not(.i){
    background-color: gray;
    color: white;
}
*{
    text-align: center;
}
.title{
    border-bottom: 3px solid white;
 }
 #bottun{
    border-radius: 7px;
    box-shadow: 0.5px 0.5px;
 }