@media screen and (max-width: 479px) {
.header {
    width: 200px;
    height: 200px
}
.main {
    width: 200px;
}
.p-of-h {
    width: 60px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}
.h-l {
    margin: 10px 10px 5px 10px;
}
.h-center {
    margin: 5px 10px;
}
.h-r {
    margin: 5px 10px 10px 10px;
}
.l {
    width: 200px;
}
.r {
    width: 200px;
}
.r-p {
    margin-top: 20x;
    margin-left: 30px;
}
.footer {
    width: 200px;
}
}